.containerHeader {
  width: 100%;
  height: 140px;
  background-color: var(--lightGray);
  display: flex;
  align-items: center;
}

.containerLogoTitulo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.containerLogoTitulo h1 {
  font-family: "Roboto",sans-serif;
  font-weight: 400;
}

.linkGerenciar {
  text-decoration: underline;
  color: var(--black);
  font-family: "Roboto",sans-serif;
}

.containerTituloLink {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 1rem;
}

.containerRodape {
  width: 100%;
  height: 40px;
  background-color: var(--darkGray);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRodape p {
  font-family: "Roboto",sans-serif;
  color: var(--white);
}

.main {
  min-height: 80vh;
}